html,
body {
  position: relative;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  position: relative;

  width: 100%;
  height: 100%;
}

main.main-layout {
  position: relative;
  margin: 0 auto;

  width: 100%;
  height: 100%;
  max-width: 1440px;
  min-width: 1280px;

  display: grid;
  grid-template-rows: 56px minmax(720px, auto) 80px;
  grid-template-columns: 200px minmax(1080px, auto);
}

.main-layout > header {
  grid-row: 1;
  grid-column: 1 / 3;
  color: white;
}

.mb-3 {
  height: 38px;
  width: 500px;
  margin: 0 !important;
}

.outline-secondary,
#input-group-dropdown-1 {
  background: lightgray;
}

.left-nav {
  background-color: lightgray;
  height: 100vh;
}

.nav-link {
  color: #6c757d;
}

#disnav {
  color: #212529 !important;
}

.main-layout > section {
  grid-row: 2;
  grid-column-start: 1;
}

.main-layout > section {
  grid-row: 2;
  grid-column-start: 2;
}

.main-layout > footer {
  grid-row: 3;
  grid-column: 1 / 3;
}

/* #main {
  max-width: 1440px;
  min-width: 1280px;
  margin: 0 auto;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: unset;
  text-decoration: unset;
}

a:visited {
  color: unset;
}

.loginpage {
  background-color: lightgray;
  width: 400px;
  text-align: center;
  padding: 30px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.margin-bottom {
  margin-bottom: 20px;
}

.login-input {
  width: 250px;
}

.login-btn {
  width: 250px;
}
.login-link {
  font-size: 0.9em;
}
